/* light: background-color: rgb(235, 239, 255); */
/* light #ebefff */
/* dark:     background: #22242a; */


/**::-webkit-scrollbar {
display: none;
}  */

/* Hide scrollbar for IE and Edge */
/** {
    user-select: none;
-ms-overflow-style: none;
}*/

* {
padding: 0px;
margin: 0px;
border: 0px;
box-sizing: border-box;
}
 
body
{
    background-color: #ebefff;
    font-family: 'open sans';
    color: #22242a;
}

#fullcontainer
{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 250px;
}

#headercon
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    font-size: 1.65em;
    line-height: 1.65em;
    position: relative;
    padding-left: 15px;
    opacity: 0.8;
    height: 50px;
    font-weight: 700;
    z-index: 20;
}


#notepadcon
{
    height: 100%;
    overflow: hidden;
    grid-row: 2/ span 1;
    grid-column: 1/ span 1;
    border-radius: 0px 30px 0px 0px; 
}

#sidebarcon
{
    width: 100%;
    height: 100%;
    overflow: auto;
    grid-row: 1/ span 2;
    grid-column: 2/ span 1;
}

#sidebar
{
    min-height: 100%;
    padding: 50px 0 30px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
}

#sidebartop
{
    padding: 20px;
    grid-row: 1/ span 1;
}

#sidebarbottom
{
    align-items: flex-start;
    padding: 20px;
    grid-row: 2/ span 1;
}

.sidebarcards
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-color: solid 1px red;
    width : 80%;
    border-radius: 20px;
    background: #ebefff;
    box-shadow:  10px 10px 19px #b3b6c2;
}

.mark
{
    background-color: blue;
    border: solid 1px red;
}

#notepadcon
{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    background: #22242a;
}

#controlwrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1/span 1;
}

#controlbuttonleft,
#controlbuttonright
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#controlbuttonright .controlbutton
{
    margin-right: 0;
    margin-left: 10px;
}


#statusbox
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    grid-row: 2/span 1;
    transition: all 0.3s;
    border-radius: 20px;
    background-color: #131518;
    height: 20px;
    box-sizing: content-box;
    color: #a2a4af;
    position: relative;
    z-index: 0;
}

#status
{
    margin-left: 10px;
    transition: all 0.3s;
}

#statusbox img
{
    height: 100%;
    opacity: 0.3;
    filter: invert();
}

#notepad
{
    resize: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;

    /* font-family: 'Ubuntu'; */
    user-select: unset;
    font-size: 1.35em;
    line-height: 1.35em;
    color: white;
    background: #22242a;
    box-shadow: inset 8px 8px 16px #131518, 
                inset -8px -8px 16px #31333c;
}


/* responsive grid */
@media only screen and (max-width: 900px)
{
    .pconly
    {
        display: none;
    }
    
    #fullcontainer
    {
        height: auto;
        overflow: auto;
        grid-template-rows: 50px auto auto;
        grid-template-columns: 1fr;
    }

    #headercon
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        justify-content: center;
        padding: 0;
        opacity: 1;
        background-color: #ebefff;
    }

    #notepadcon
    {
        height: 500px;
        overflow: hidden;
        grid-row: 2/ span 1;
        grid-column: 1/ span 1;
        border-radius: 0;
    }

    #sidebarcon
    {
        height: auto;
        overflow: hidden;
        grid-row: 3/ span 1;
        grid-column: 1/ span 1;
    }

    #sidebar
    {
        min-height: 0;
    }

    #sidebartop
    {
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
    }

    #sidebarbottom
    {
        grid-column: 2/ span 1;
        grid-row: 1/ span 1;
    }

}
/* res grid end */


#qrimage
{
    width: 100%;
    mix-blend-mode: multiply;
    margin-bottom: 20px;
    border: solid 1px #22242a;
    border-radius: 20px;
}

.controlbutton
{
    cursor: pointer;
    display: block;
    border-radius: 50px;
/* background: linear-gradient(145deg, #24272d, #1f2026); */
box-shadow:  8px 8px 14px #131417, 
             -8px -8px 14px #31343d;
    color: white;
    height: 30px;
    width: 30px;
    min-width: max-content;
    position: relative;
    text-align: center;
    line-height: 30px;
    transition: all 0.3s;
    font-weight: 700;
    /* padding: 10px; */
    margin-right: 10px;
    background-color: #ebefff;
    color: #22242b;
}
#copybtn img
{
    position: relative;
    top: 2px;
    max-width: 15px;
}

#fontdecr span
{
    font-size: 0.8em;
}

#fontincr
{
    font-size: 1.1em;
}

.longbuttons
{
    padding-right: 10px;
    padding-left: 10px;
    float: right;
    position: relative;
    z-index: 10;
}

.longbuttons img
{
    position: relative;
    top: 1px;
    margin-right: 2px;
    transform: scale(1.25);
    max-width: 15px;
}

.controlbutton:hover
{
    box-shadow: none;
    transform: scale(0.95);
}

#saveversion
{
box-shadow:  2px 8px 14px #131417, 
             -8px -8px 14px #31343d;
}

.lni-paperclip
{
    transform: rotate(-25deg);
}
#shareinfo
{
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 20px;
    text-align: left;
}
#sharelink
{
    background-color: #22242a;
    color: #ebefff;
    border-radius: 5px;
    /* max-width: max-content; */
    text-align: center;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    z-index: 2;
    user-select: text;
}

.sdbtn
{
    cursor: pointer;
    background-color: #22242a;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 7px;
    display: inline-block;
    border-radius: 50px;
    box-shadow:  5px 5px 14px #a2a4af, 
             -5px -5px 14px #ffffff;
    transition: all 0.3s;
}

.sdbtn img
{
    position: relative;
    max-width: 21px;
    filter: invert();
}

.sdbtn:hover
{
    box-shadow: none;
    transform: scale(0.95);
}

#linkfuncs
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#linkcopy
{
    margin-right: 10px;
}

.sidebarhead
{
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 20px;
}

.sidebarhead img
{
    max-height: 1.2em;
}

#listwrapper
{
    margin: 0;
    padding: 0;
    padding-left: 45px;
}

#popupwrapper
{
    background-color: #ebefff;
    height: max-content;
    margin-top: 2px;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    box-shadow: #131417 4px 4px 10px;
    text-align: left;
    display: none;
    min-width: max-content;
}

#userlist li
{
    text-transform: capitalize;
}

#ownername
{
    text-transform: capitalize;
}

#restoreversion:hover #popupwrapper
{
    display: block;
}

.versionname
{
    border-bottom: solid 1px #31333c;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s;
    font-weight: normal;
}

.versionname:hover
{
    background-color: #b3b6c2;
}

.extrapad
{
    padding-left: 6px;
    padding-right: 6px;
}